body {
  background-color: #404040;
  color: #fff;
}
#searchDiv {
  margin: auto;
}
#wikiSearch {
  width: 50%;
}
/* input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
} */

#search-results a {
  text-decoration: none;
}

/* .highlight {
  background-color: gray;
  border-left: 5px solid lime;
  margin-left: -5px;
  border-radius: 10px;
  
} */



/* a.list-group-item.list-group-item-action {
  background-color: #404040;
  color: #fff;
} */

#search-results .thumbnail {
  width: 50px;
}

/* Pulse the spinner div opacity */
#spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: pulse 2s infinite;
  -moz-animation: pulse 2s infinite;
  -o-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0%   { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}
@-moz-keyframes pulse {
  0%   { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}
@-o-keyframes pulse {
  0%   { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}
@keyframes pulse {
  0%   { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}